
/* This is where I make the responsive Layout  */
@media only screen and (max-width:1366px){
    
}





@media only screen and (max-width:800px){
    .topHead{
      width:98%;
      margin-top:  
    }
    h1{
      width: 35%;
      padding-left:4%;
    }
    .topNav{
      width:40%;
      padding-left: 8%;
    }

    .topNav a{
      font-size:80%; 
    }
    .nav{
      width:20%;
    }
      .topHead{
          padding: 0.5rem;
          font-size:80%;
      }
      .firstPhoto{
        width:46.5%;
      }
    .right{
      font-size:80%;
      margin:10%;
      padding:2%; 
    }
    .myWorkRow1{
      justify-content: space-evenly;
      height:200vh;
      padding:0;
      align-items: flex-end;
    }
    
    .myWorkRow2{
      justify-content: space-evenly;
      height:200vh;
      padding:0;
      align-items: flex-end;
    }

    .work{
      width:80%;
      padding:0px;
    }
    .footer{
      display:flex;


    }
    h5{
      font-size:1rem;
    }
  }
  
  
  @media only screen and (max-width:500px){
    .topHead{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-size:80%;
      height:45vh;
    }
    h1{
      font-size:2rem;
    }
    
    .nav{
      width:30%;
    }
    
      .topNav{
          flex-direction: column;
          align-items: center;
      }
    .secondSection{
      flex-direction:column;
      align-items: center;
    }
    .firstPhoto{
      width:92%;
    }
    .right{
  
    }
    
    .myWorkRow1{
      flex-direction:column;
      align-items: center;
      height:120vh
    }
    .myWorkRow2{
      flex-direction:column;
      align-items: center;
      height:120vh;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
  }
  
  
  @media only screen and (max-width:360px){
    .topHead{
        display:flex;
        flex-direction: column;
        align-items: center;
      font-size:80%;
      height:45vh;
    }

    .secondSection{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    h1{
      font-size:2rem;
    }
    
    .nav{
      width:30%;
      margin-left:15%;
    }
    
      .topNav{
          flex-direction: column;
          margin:2.2rem;
          width:70%;
          margin-left:16%;
      }
    .secondSection{
      flex-direction:column;
    }
    .firstPhoto{
      width:92%;
    }
    .right{
      margin-left:20%;
    }
    
    .myWorkRow1{
      flex-direction:column;
      height:120vh;
    }
    .work{
        width:95%;
        margin-left:2.5%;
    }
    .myWorkRow2{
      flex-direction:column;
      height: 120vh;
      justify-content: space-evenly;
    }
    
   .footer{
       display:flex;
       flex-direction: column;
       justify-content: space-evenly;
        align-items: center;
    }
   .contactMe{
       width:40%;
       
   }
    
  }

  
  